html {
  font-family: system-ui, sans-serif;
  font-size: 1.05rem;
}

.hidden {
  display: none;
  pointer-events: none;
}

.underline {
  text-decoration: underline;
}

.large {
  font-size: 1.1rem;
}

.bold {
  font-weight: 500;
}

.small {
  display: block;
  font-weight: 300;
  font-size: 0.9rem;
}

main {
  margin-inline: 0.5rem;
}

p {
  margin-block: 1rem;
  max-width: 800px;
  line-height: 1.5;
}

hr {
  /* max-width: 800px;
  margin-inline-start: 0;
  margin-inline-end: auto;
  height: 2px; */
  border: 0;
  height: 1px;
  background: gray;
  margin-block: 0.5rem;
  margin-inline: 0;
}

.link,
a,
button.link {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  color: var(--link-color);
  text-align: left;
  text-decoration: underline;
  position: relative;
}

a:not(.navLink):hover,
a:not(.navLink):focus,
.link:hover,
.link:focus,
button.link:hover,
button.link:focus {
  background-color: var(--link-hover-bg);
}

.word-break span {
  display: block;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.pagination ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.copy-element {
  font-weight: 300;
  font-size: 1rem;
}

.copy-button,
.open-dialog {
  border: none;
  cursor: pointer;
}

.copy-button:hover,
.open-dialog:hover,
.copy-button:focus,
.open-dialog:focus {
  background-color: hsla(0, 0%, 0%, 10%);
}

.either-or {
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
}

.link.light {
  /* font-weight: 300; */
  font-size: 0.95rem;
  text-decoration: none;
}

display-inline {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.spacer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.asterisk {
  color: red;
}
