button {
}

.button {
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid hsla(0, 0%, 0%, 80%);
  padding-inline: 0.8rem;
  padding-block: 0.3rem;
  background-color: hsla(0, 0%, 0%, 70%);
  color: white;
  border-radius: 5px;
  line-height: 1rem;
  width: fit-content;
}

.button:hover,
.button:focus {
  cursor: pointer;
  background-color: hsla(0, 0%, 0%, 80%);
  color: white;
}

.button:disabled {
  background-color: hsla(0, 0%, 50%, 20%);
  border: 1px solid hsla(0, 0%, 50%, 20%);
  color: hsla(0, 0%, 50%, 70%);
  cursor: none;
}

.confirm-delete {
  background: hsla(0, 100%, 50%, 30%);
  border: none;
  font: inherit;
  cursor: pointer;
  color: hsla(0, 100%, 15%, 0.9);
  line-height: 1.2rem;
  padding-inline: 1rem;
  padding-block-end: 0.2rem;
  border-radius: 5px;
}

.confirm-delete-small {
  background: hsla(0, 100%, 50%, 30%);
  border: none;
  font: inherit;
  cursor: pointer;
  color: hsla(0, 100%, 15%, 0.9);
  line-height: 1.2rem;
  padding-inline: 0.5rem;
  padding-block-end: 0.2rem;
  border-radius: 5px;
}

.confirm-delete:hover,
.confirm-delete:focus,
.confirm-delete-small:hover,
.confirm-delete-small:focus {
  background: hsla(0, 100%, 50%, 40%);
  cursor: pointer;
  color: hsla(0, 100%, 15%, 0.9);
}

.x-delete {
  border: none;
  color: red;
  background: hsla(0, 100%, 50%, 5%);
  border-radius: 5px;
  line-height: 1rem;
}

.x-delete:hover,
.x-delete:focus {
  background: hsla(0, 100%, 50%, 30%);
  cursor: pointer;
}

.delete-button {
  background-color: hsla(0, 100%, 24%, 90%);
  color: white;
  border-radius: 5px;
  border: none;
  padding-inline: 1rem;
}

.delete-button:not(:disabled):hover {
  background-color: hsla(0, 100%, 24%, 100%);
  cursor: pointer;
}
