.client-inputs {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

@media (max-width: 500px) {
  .client-inputs {
    flex-direction: column;
  }
}

.form-input {
  align-self: flex-start;
}

.row-actions {
  display: flex;
  gap: 0.5rem;
}

.add-row-btn,
.remove-row-btn {
  font-size: 1.5rem;

  border-radius: 5px;
  border: none;
  height: 1.5rem;
  line-height: 1.5rem;
  margin-block-start: 0.5rem;
}

.clients-table th {
  text-align: left;
}

@media (max-width: 1000px) {
  .client-filter {
    display: none;
  }
}
