.client-inputs {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.client-filter {
  border: none;
  outline: none;
}

@media (max-width: 500px) {
  .client-inputs {
    flex-direction: column;
  }
}

.form-input {
  align-self: flex-start;
}

.row-actions {
  display: flex;
  gap: 0.5rem;
}

.add-row-btn,
.remove-row-btn {
  font-size: 1.5rem;
  border-radius: 10px;

  margin-block-start: 0.5rem;
  padding-block-end: 0.2rem;
  background-color: hsl(0, 0%, 90%);
}

.clients-table th {
  text-align: left;
}

@media (max-width: 1000px) {
  .client-filter {
    display: none;
  }
}
