/* 1. Hide the default marker */
summary {
  list-style: none; /* For most browsers */
}

/* For WebKit browsers (Safari, older Chrome) */
summary::-webkit-details-marker {
  display: none;
}

summary:not(.navLink) {
  /* Use a flexbox or grid to align the icon and text */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1;

  color: hsl(0, 0%, 10%);
  background-color: var(--summary-bg);
  border: none;
  padding-inline: 0.5rem;

  border-radius: 0;

  cursor: pointer;
  max-width: 500px;
  line-height: 2;
  text-transform: capitalize;
}

summary::after {
  content: "+";

  font-size: 1.05rem;
  font-weight: 600;
  /* This ensures the icon stays close to the text */
  flex-shrink: 0;
}

details[open] summary {
  background-color: var(--details-bg);
  color: var(--text-color);
  border: none;
  justify-content: flex-start;
}

details[open] summary::after {
  content: "-";
}

/* details[open] summary {
  outline: none;
}

details[open] {
  outline: none;
} */

details:not(.details-menu)[open] {
  background-color: var(--details-bg);
  padding: 0.5rem;
}

details.reduced-styling summary {
  font-size: 1rem;

  color: var(--text-color);
  background-color: transparent;
  border-inline-start: none;
  padding-inline: 0;
}

details.reduced-styling[open] summary {
  background-color: transparent;
}
