/* honeypot */
.phone {
  position: absolute;
  left: -9999px;
  visibility: hidden;
  opacity: 0;
  height: 0;
  width: 0;
  overflow: hidden;
  pointer-events: none; /* Prevents keyboard focus */
}

/* standardising input heights */
select,
.input-row input,
tr input,
input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"],
input[type="password"],
.add-row,
.remove-row {
  height: 2.5em; /* consistent height */
  padding: 0.25em 0.5em; /* vertical + horizontal padding */
  padding-block: 0;
  box-sizing: border-box; /* ensures padding doesn't affect height */
  font-size: 1rem; /* normalize font size */
  line-height: 1.2;
  font-weight: 400;
  border: 1px solid var(--input-border);
  background-color: var(--input-bg);
  border-radius: 2px;
}

.generic-form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-inline: 0.5rem;
}

.field-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.generic-form p {
  margin-block: 0;
}

.generic-form .form-input {
  width: 100%;
}

.generic-form h2,
.generic-form h3 {
  margin-block: 0;
}

.generic-form .required {
  display: inline;
  font-weight: 300;
  font-size: 0.8rem;
  color: grey;
}

.grouped-inputs h4 {
  padding-block: 0;
  margin-block: 0;
  font-weight: 400;
}

.cumulative-data-form {
  max-width: 500px;
}

.cumulative-data-form input,
.cumulative-data-form textarea {
  display: block;
  width: 100%;

  border: 2px solid black;
  border-radius: 0px;
}

.cumulative-data-form textarea:focus,
.cumulative-data-form textarea:active {
  border: 4px solid var(--focus-border);
  outline: 3px solid black;
}

label {
  color: var(--text-color);
  margin-block-end: 2px;
}

.form-input {
  color: var(--text-color);
  margin-block-end: 2px;
  margin-inline: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  /* gap: 0.3rem; */
  margin-block-end: 0;
}

.form-input input,
.form-input select {
  border: 1px solid black;
}

.form-input input:focus,
.form-input input:active,
.form-input select:focus,
.form-input select:active {
  border: 4px solid var(--focus-border);
  outline: 2px solid black;
}

.form-input input:disabled {
  border: 2px solid var(--form-input-disabled-bg);
  background-color: var(--form-input-disabled-bg);
}

/* used in show clients - for small form with just one input */
.generic-form.gap-0 {
  gap: 0;
}

.width-200 {
  max-width: 200px;
}
/* used in show clients - for small form with just one input */

.form-input label {
  font-weight: 500;
}

.nested-input input:focus,
.nested-input input:active,
.nested-input select:focus,
.nested-input select:active {
  border: 4px solid var(--focus-border);
  outline: 2px solid black;
}

.nested-input input,
.nested-input select {
  border: 1px solid black;
  border-radius: 0px;
}

.nested-input {
  /* color: var(--text-color); */
  margin-block-end: 2px;
}

.nested-input p {
  font-weight: 600;
}

.nested-input label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.show-clients {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.inline-form-center {
  display: flex;
  align-items: flex-end;
  margin-block: 2rem;

  gap: 1rem;
}

.inline-form {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.inline-form label,
.inline-form-center label {
  color: var(--theme-text);
  font-size: 1.1rem;
  font-weight: 500;
}

.inline-form select,
.inline-form-center select {
  height: 2rem;
}

.inline-form input,
.inline-form button,
.inline-form-center input,
.inline-form-center button {
  height: 2rem;
  vertical-align: bottom;
}

.inline-form input {
  -webkit-appearance: none; /* For Safari */
  -moz-appearance: none; /* For older Firefox */
  appearance: none;
  padding: 0;
  margin: 0;
  background: var(--input-bg);
}

.inline-form button:not(.link) {
  font-size: 1rem;
  text-transform: uppercase;
  border: none;

  /* background-color: hsla(0, 0%, 0%, 65%);
  color: white; */
}

.inline-form button:not(.link):hover,
.inline-form button:not(.link):focus {
  cursor: pointer;
}

.inline-checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-block: 1rem;
  font-weight: 500;
}

.inline-checkbox.stacked {
  margin-block: 0;
}

.inline-checkbox input[type="checkbox"] {
  flex: 0 0 1.2rem; /* fixed width column for checkbox */
  height: 2rem;
  width: 2rem;
}

.inline-checkbox label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  flex: 1;
}

input[type="checkbox"] {
  height: 1rem;
  width: 1rem;
  border: 1px solid black;
}

/* csv upload */

/* hide native element */
#csv_upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  background-color: transparent;
}

p.upload_label {
  color: var(--text-color);
  margin-block-end: 0;
  font-weight: 500;
}

.csv_upload_button,
.csv_upload_label {
  cursor: pointer;
  border-radius: 2px;
  border: 0;
  padding: 0;
  padding-inline: 1rem;
  padding-block: 0.2rem;
  background-color: var(--upload-button-bg);
  color: var(--text-color);
  margin-block: 1rem;
}

.csv_upload_button:hover,
.csv_upload_button:focus,
.csv_upload_label:hover,
.csv_upload_label:focus {
  color: var(--text-color);
  background-color: var(--upload-button-hover);
}

#csv_filename {
  margin-inline-start: 1rem;
  font-size: 0.8rem;
  font-weight: 300;
}

/* end csv upload */

/* change tax year */
#change_tax_year {
  margin-block-start: 1rem;
  align-items: center;
  gap: 1rem;
  background-color: var(--tax-year-bg);
  display: inline-flex;
  padding-inline: 0;
  padding-block: 0rem;
  border-radius: 0;
}

#change_tax_year label {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--tax-year-text);
}

#change_tax_year select {
  /* border: 1px solid black; */
  height: 2rem;
  /* background-color: var(--tax-year-select); */
  color: var(--tax-year-text);
  font-weight: 700;
  font-size: 1rem;
  border: 1px solid var(--tax-year-text);
}

/* end change tax year */

/* placeholder */
/* WebKit (Chrome, Safari, Edge) */
::-webkit-input-placeholder {
  font-size: 1rem;
  font-weight: 300;
}

/* Mozilla Firefox 4 to 18 */
:-moz-placeholder {
  font-size: 1rem;
  font-weight: 300;
}

/* Mozilla Firefox 19+ */
::-moz-placeholder {
  font-size: 1rem;
  font-weight: 300;
}

/* Internet Explorer 10-11 */
:-ms-input-placeholder {
  font-size: 1rem;
  font-weight: 300;
}

/* Modern browsers (standard) */
::placeholder {
  font-size: 1rem;
  font-weight: 300;
}

.error-message {
  margin-block-start: 1rem;
}

.error-messages .form-error {
  margin: 0;
  margin-block-end: 1rem;
  background-color: var(--error);
  color: hsl(0, 0%, 5%);
}
