/* data list dl (used in profile/show) */
/* used in Profile */
dl {
  display: grid;
  grid-template-columns: 0.75fr 1.25fr;
  row-gap: 0;
  column-gap: 0;
  max-width: 500px;
  line-height: 2.5;
}

dl dt {
  font-weight: 500;
}

dl dd {
  display: flex;
  justify-content: space-between;
  margin-inline: 0;
  padding-inline-end: 2rem;
}

dl dd:nth-of-type(odd),
dl dt:nth-of-type(odd) {
  background-color: hsla(0, 0%, 0%, 5%);
}

/* end data list dl */

ol,
ol li {
  list-style-type: decimal;
}

ul,
ol {
  padding-inline: 1rem;
}

ul ul {
  padding-inline: 0;
  margin-inline: 0;
  list-style: none;
}
li {
  padding-inline: 0;
  margin-inline: 0;
  list-style: none;
}

.list ul {
  margin-inline: 1rem;
  padding-block-end: 0.5rem;
}

.list li {
  list-style-type: disc;
  margin-inline-start: 1rem;
}

.list ul ul li {
  list-style-type: circle;
}

.list h3 {
  margin-inline-start: 1rem;
}

.api-list ul {
  margin-inline: 1rem;
  padding-block-end: 0rem;
}

/* formatting lists from displayArrayAsList function */
.api-list li {
  list-style-type: disc;
  margin-inline-start: 1rem;
}

.api-list ul ul li {
  list-style-type: none;
  margin-inline-start: 0;
}

.api-list ul li ul {
  margin-inline-start: 0;
}

.list-header {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
  font-weight: 600;
}

.list-group-item {
  margin-bottom: 1rem;
}

/* remove padding and margin on mobile view */
/* @media (max-width: 758px) {
  ul {
    padding-inline: 1rem;
  }

  ul ul {
    padding-inline: 0;
    margin-inline: 0;
    list-style: none;
  }
  li {
    padding-inline: 0;
    margin-inline: 0;
  }
} */
