/* data list dl (used in profile/show) */
/* used in Profile */
dl {
  display: grid;
  grid-template-columns: 0.75fr 1.25fr;
  row-gap: 0;
  column-gap: 0;
  max-width: 500px;
  line-height: 2.5;
}

dl dt {
  font-weight: 500;
}

dl dd {
  display: flex;
  justify-content: space-between;
  margin-inline: 0;
  padding-inline-end: 2rem;
}

dl dd:nth-of-type(odd),
dl dt:nth-of-type(odd) {
  background-color: hsla(0, 0%, 0%, 5%);
}

/* end data list dl */

ul {
  padding-inline: 1rem;
}

ul ul {
  padding-inline: 0;
  margin-inline: 0;
  list-style: none;
}
li {
  padding-inline: 0;
  margin-inline: 0;
  list-style: none;
}

.list-header {
  margin-block: 1rem;
  font-weight: 600;
}

/* remove padding and margin on mobile view */
/* @media (max-width: 758px) {
  ul {
    padding-inline: 1rem;
  }

  ul ul {
    padding-inline: 0;
    margin-inline: 0;
    list-style: none;
  }
  li {
    padding-inline: 0;
    margin-inline: 0;
  }
} */
