.display-none {
  display: none;
}

.display-flex {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-inline: 1rem;
}

/* Center container */
#loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 9999;

  color: var(--loader-text);
  background: var(--loader-bg);
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 5px;
  border: 2px solid var(--loader-border);
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
}

/* Spinner */
.spinner {
  border: 4px solid var(--loader-bg);
  border-top: 4px solid var(--loader-border);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0 auto 10px;
  animation: spin 1s linear infinite;
}

/* Text under spinner */
.loader-text {
  font-size: 0.9rem;
  font-weight: 500;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
