/* Center container */
#loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 9999;

  color: var(--loader-text);
  background: var(--loader-bg);
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 0;
  border-block-start: 2px solid var(--loader-border);
  border-block-end: 2px solid var(--loader-border);
  outline: 5px solid var(--loader-bg);

  transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader-visible {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-inline: 1rem;

  opacity: 1;
  visibility: visible;
}

/* Spinner */
/* .spinner {
  border: 4px solid var(--loader-bg);
  border-top: 4px solid var(--loader-border);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0 auto 10px;
  animation: spin 1s linear infinite;
} */

/* Text under spinner */
.loader-text {
  font-size: 0.9rem;
  font-weight: 500;
  display: flex;
  align-items: flex-end;
  gap: 0.2rem;
}

.hmrc-bounce {
  display: flex;
  gap: 0;
}

.hmrc-bounce span {
  display: inline;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.hmrc-bounce span:nth-child(1) {
  animation-name: bounce-h;
}
.hmrc-bounce span:nth-child(2) {
  animation-name: bounce-m;
}
.hmrc-bounce span:nth-child(3) {
  animation-name: bounce-r;
}
.hmrc-bounce span:nth-child(4) {
  animation-name: bounce-c;
}

/* H */
@keyframes bounce-h {
  0%,
  15%,
  100% {
    transform: translateY(0);
  }
  7.5% {
    transform: translateY(-5px);
  }
}

/* M */
@keyframes bounce-m {
  0%,
  25%,
  100% {
    transform: translateY(0);
  }
  17.5% {
    transform: translateY(-5px);
  }
}

/* R */
@keyframes bounce-r {
  0%,
  35%,
  100% {
    transform: translateY(0);
  }
  27.5% {
    transform: translateY(-5px);
  }
}

/* C */
@keyframes bounce-c {
  0%,
  45%,
  100% {
    transform: translateY(0);
  }
  37.5% {
    transform: translateY(-5px);
  }
}

/* Accessibility */
@media (prefers-reduced-motion: reduce) {
  .hmrc-bounce span {
    animation: none;
  }
}

/* @keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */
