a,
summary,
.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.primary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 0.5rem;
  background-color: var(--header-color);
  position: relative;
}

.logo {
  font-size: 2rem;
  font-weight: bold;

  margin-block: 0;
}

.logo a {
  color: var(--header-text);
  text-decoration: none;
}

.primary-navigation {
  display: flex;
  gap: 0;
  align-items: center;
  font-size: 1.2rem;
  margin-block: 0;
}

.primary-navigation li {
  list-style: none;
}

.navLink {
  text-decoration: none;
  width: 100%;
  display: inline-block;
  padding-inline: 1.5rem;
  color: hsl(0, 0%, 90%);
  white-space: nowrap;
  font-weight: 400;
  text-transform: capitalize;
}

.navLink:hover,
.navLink:focus,
.navLink:active {
  color: hsl(0, 0%, 100%);
  background-color: hsla(0, 0%, 100%, 15%);
}

.navLink.active {
  background-color: hsla(0, 0%, 100%, 40%);
  border-radius: 5px;
}

/* .navLink.active:hover {
  color: black;
  background-color: white;
} */

.topLink {
  border-radius: 0;
}

.details-menu {
  width: 100%;
  color: var(--colortext);
}

details summary {
  transition: transform 0.2s;
}

.details-menu summary {
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: flex-end;
  gap: 0.3rem;
  cursor: pointer;
}

.details-menu summary::-webkit-details-marker {
  display: none;
}

.details-menu summary::after {
  display: inline-block;
  width: 0.5rem;
}

.details-menu[open] summary::after {
  display: inline-block;
  min-width: 0.5rem;
}

.submenu-container {
  position: relative;
}

.submenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  top: 100%;
  min-width: 15rem;
  background-color: var(--submenu-color);
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  padding-inline-start: 0;
  padding-inline-end: 0;
  border-radius: 0 0 0px 0px;
}

.primary-header .menu-toggle {
  display: none;
}

.logout {
  font-weight: 200;
  font-size: 0.95rem;
  line-height: 2;
  color: hsl(0, 0%, 85%);
}

.logout:hover {
  color: hsl(0, 0%, 85%);
}

/* Mobile styles */
@media (max-width: 800px) {
  /* menu label for screen readers */
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  .primary-navigation {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 0.5rem;
    position: absolute;
    top: 100%;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #444;
    padding-inline: 0.5rem;
    padding-block-start: 2rem;
    z-index: 100;
  }

  /* opened/closed states */
  .primary-header .primary-navigation {
    transform: translateX(100%); /* hidden offscreen initially */
    transition: transform 0.6s ease-in-out;
  }

  /* both opening and closing are "visible" */
  .primary-header .primary-navigation[data-state="opening"],
  .primary-header .primary-navigation[data-state="closing"],
  .primary-header .primary-navigation[data-state="opened"] {
    display: flex;
    background-color: #c4c4c4;
  }

  /* final open state */
  .primary-header .primary-navigation[data-state="opened"] {
    transform: translateX(0);
  }

  .primary-navigation[data-state="closing"] {
    transform: translateX(100%);
  }

  .primary-header .primary-navigation[data-state="closed"] {
    display: none;
    transform: translateX(100%);
  }

  /* nav links */
  .navLink {
    font-size: 1.2rem;
    color: hsl(0, 0%, 10%);
  }
  .navLink:hover,
  .navLink:focus,
  .navLink.active {
    color: hsl(0, 0%, 10%);
    background-color: #dcdcdc;
  }

  .topLink {
    border-radius: 0;
  }

  .primary-header li,
  .primary-header details {
    display: inline-block;
    width: 100%;
    padding-block: 0;
  }

  .submenu {
    position: relative;
    align-items: flex-start;
    gap: 0.25rem;
    padding: 0.5rem 0;
    background-color: #cfcfcf;
  }

  .primary-header .sub-menu .navLink {
    border: none;
  }

  /* menu toggle button */
  .primary-header .menu-toggle {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    position: absolute;
    right: 1rem;
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 9999;
  }

  .primary-header .menu-toggle span {
    font-size: 1.2rem;
    font-weight: 600;
    padding-block-start: 3px;
    text-transform: uppercase;
    color: whitesmoke;
  }

  /* hamburger setup */
  .primary-header .hamburger {
    display: grid;
    gap: 5px; /* space between bars */
    width: 2rem;
    height: 1rem;
    cursor: pointer;
  }
  .primary-header .hamburger::before,
  .primary-header .hamburger::after,
  .primary-header .hamburger div {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 3px;
    transition: transform 250ms ease-in-out, opacity 250ms ease-in-out;
  }

  /* animation when expanded */
  [aria-expanded="true"] .hamburger::before {
    transform: translateY(8px) rotate(45deg);
  }
  [aria-expanded="true"] .hamburger div {
    opacity: 0;
  }
  [aria-expanded="true"] .hamburger::after {
    transform: translateY(-8px) rotate(-45deg);
  }
}
