table {
  border-collapse: collapse;
}

table.left-align-headers thead th {
  text-align: left;
}

table tr {
  line-height: 1.5;
}

table td {
  padding-inline-end: 2rem;
  vertical-align: middle;
  padding-block: 0.4rem;
}

table thead th {
  text-align: right;
  vertical-align: middle;

  padding-inline-end: 2rem;
  padding-block-end: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
}

th.subheading {
  text-align: left;
  font-size: 1.3rem;
}

table tbody tr:has(td):nth-of-type(odd) {
  background-color: var(--table-stripe-color);
}

table .center-element {
  text-align: center;
}

table .table-subheading {
  text-align: left;
  max-width: 80px;
  font-weight: 300;
  font-size: 1rem;
  margin-inline-end: 0.5rem;
}

.number-table td {
  line-height: 1.5;
  text-align: right;
}

.number-table td:first-of-type {
  text-align: left;
}

.number-table .country-code {
  text-align: right;
  padding-inline-end: 2rem;
}

.mobile-view {
  display: none;
}

/* MOBILE STYLES */

@media (max-width: 1000px) {
  .long-table .mobile-view {
    display: block;
  }

  .long-table .desktop-view {
    display: none;
  }

  hr {
    max-width: 600px;
  }
}

@media (max-width: 800px) {
  .mobile-view {
    display: block;
  }
  .desktop-view {
    display: none;
  }
}

.mobile-view .country-code {
  text-align: right;
}

.mobile-view .card {
  border: 1px solid var(--card-border);
  border-radius: 5px;
  padding-block: 0.5rem;
  padding-inline: 0.5rem;
  max-width: 600px;
  margin-block: 0.5rem;
}

.mobile-view hr {
  max-width: 600px;
}

.mobile-view .data-row {
  display: flex;
  justify-content: space-between;
  line-height: 1.5;
  padding-block: 0.2rem;
}

.mobile-view .data-row:nth-of-type(odd) {
  background-color: var(--table-stripe-color);
}

.mobile-view form {
  max-width: 600px;
  display: flex;
  justify-content: center;
}

.mobile-view form .link {
  font-size: 1.1rem;
}

.mobile-view .display-inline {
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
